<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hermawan.pendakian">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".UpdateDetailAnggotaActivity"></activity>
        <activity android:name=".TambahUpdateAnggotaActivity" />
        <activity android:name=".UpdateAnggotaActivity" />
        <activity android:name=".TentangAplikasiActivity" />
        <activity android:name=".ListAdminActivity" />
        <activity android:name=".TambahAdminActivity" />
        <activity android:name=".SOSActivity" />
        <activity android:name=".SignInActivity" />
        <activity android:name=".EditProfilActivity" />
        <activity android:name=".EditDetailJalurActivity" />
        <activity android:name=".TambahBlacklistActivity" />
        <activity android:name=".DetailPembayaranActivity" />
        <activity android:name=".BayarActivity" />
        <activity android:name=".DetailPendakiActivity" />
        <activity android:name=".DetailPendaftaranPendakianActivity" />
        <activity android:name=".TambahAnggotaDetailActivity" />
        <activity android:name=".DetailPendakianActivity" />
        <activity android:name=".TambahAnggotaActivity" />
        <activity android:name=".JadwalLengkapActivity" />
        <activity android:name=".CekScanActivity" />
        <activity android:name=".CekPembayaranActivity" />
        <activity android:name=".CekPendaftaranActivity" />
        <activity android:name=".TambahDetailJalurActivity" />
        <activity android:name=".AdminMainMenuActivity" />
        <activity android:name=".DataAnggotaActivity" />
        <activity android:name=".RegistrasiPendakianActivity" />
        <activity android:name=".DataPendakiActivity" />
        <activity android:name=".SinyalDaruratActivity" />
        <activity android:name=".TrackingActivity" />
        <activity android:name=".KompasActivity" />
        <activity android:name=".KeselamatanActivity" />
        <activity android:name=".PeralatanActivity" />
        <activity android:name=".InfoGunungActivity" />
        <activity android:name=".UserBookingActivity" />
        <activity android:name=".UserMainMenuActivity" />
        <activity
            android:name=".SignUpActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".SplashscreenActivity"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".service.MyFireBaseMessagingService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service
            android:name=".service.MyFirebaseIdService"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_notif" />
    </application>

</manifest>